name: ci build

on:
  workflow_dispatch:
  push:
    branches:
      - master
  release:
    types: [published]


jobs:
  build:
    runs-on: ubuntu-latest
    container: devkitpro/devkita64:latest

    steps:
    - name: Update latest libnx
      run: |
        git config --global --add safe.directory "*"
        git clone --recurse-submodules https://github.com/switchbrew/libnx.git
        cd libnx
        make install -j$(nproc)
      shell: bash

    - name: Checkout latest code
      uses: actions/checkout@v4.2.2
      with:
        ref: master
        clean: true
        fetch-depth: 0
        fetch-tags: true
        submodules: recursive

    - name: Build
      run: |
        export DEVKITPRO=/opt/devkitpro
        make -j $(nproc)

    - name: Upload artifacts
      uses: softprops/action-gh-release@v2.0.9
      with:
        draft: false
        prerelease: false
        generate_release_notes: yes
        tag_name: Draft
        files: |
            Browser.nro
