name: ci build

on:
  workflow_dispatch:
  push:
    branches:
      - master
  release:
    types: [published]


jobs:
  build:
    runs-on: ubuntu-latest
    container: devkitpro/devkita64:latest

    steps:
    - name: Update latest libnx
      run: |
        git config --global --add safe.directory "*"
        git clone --recurse-submodules https://github.com/switchbrew/libnx.git
        cd libnx
        make install -j$(nproc)
      shell: bash

    - name: Checkout latest code
      uses: actions/checkout@v4.2.2
      with:
        ref: master
        clean: true
        fetch-depth: 0
        fetch-tags: true
        submodules: recursive

    - name: Build
      run: |
        export DEVKITPRO=/opt/devkitpro
        git config --global --add safe.directory `pwd`
        git submodule update --remote
        make -j $(nproc)

    - name: Upload file
      uses: actions/upload-artifact@v4
      with:
        name: ${{ steps.repo.outputs._1 }}
        path: ./*.nro

    - name: Upload binaries to release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.release_token }}
        file: ./*.nro
        tag: ${{ github.ref }}
        overwrite: true
        file_glob: true